<html>
    <head>
        <title>Expentio - Login Page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
    <body>
        <div class="nav-container">
            <h1>Welcome to Expentio</h1>
        </div>
        <main class="main">
            <div class="container">
                <h2>Login</h2>
                <form method="post" action="">
                    {% if error_message %}
                        <div class="alert alert-danger">
                            <i class="fas fa-exclamation-triangle"></i> {{ error_message }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login">
                    </div>
    
                    <p>Join Expentio <a href="{{ url_for('register') }}">Register</a></p>
                </form>
            </div>
        </main>
    </body>
</html>