<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Expentio - Registration Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <div class="nav-container">
        <h1>Welcome to Expentio</h1>
    </div>
    <main>
        <div class="container">
            <h2>Create an Account</h2>

            {% if error_message %}
                <div class="alert alert-danger">
                    <i class="fas fa-exclamation-triangle"></i> {{ error_message }}
                </div>
            {% endif %}

            {% if success_message %}
                <div class="alert alert-success">
                    <i class="fas fa-check-circle"></i> {{ success_message }}
                </div>
            {% endif %}
            
            <form method="post" action="">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="input" type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Register">
                </div>
                <p>Already a member? <a href="{{ url_for('login') }}">Log In</a></p>
            </form>
        </div>
    </main>
</body>
</html>
